.mail-compose {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 5em;
    width: 40vw;
    height: 40vh;
    -webkit-box-shadow: -2px -3px 9px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px -3px 9px -5px rgba(0, 0, 0, 0.5);
    box-shadow: -2px -3px 9px -5px rgba(0, 0, 0, 0.5);
}

.mail-compose>*:not(first-child) {
    padding: 1px;
}

.mail-compose header {
    flex-grow: 1;
}

.mail-compose .to {
    flex-grow: 1;
}

.mail-compose .subject {
    flex-grow: 1;
}

.mail-compose .body {
    flex-grow: 6;
}

.mail-compose .footer {
    flex-grow: 3;
}