.mail-compose {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 5em;
    width: 40vw;
    height: 40vh;
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    border-radius: 8px 8px 0 0;
}

.mail-compose>*:not(first-child) {
    padding: 1px;
}

.mail-compose header {
    flex-basis: 10%;
}

.mail-compose .to {
    flex-basis: 10%;
}

.mail-compose .subject {
    flex-basis: 10%;
}

.mail-compose .body {
    flex-basis: 60%;
}

.mail-compose .footer {
    flex-basis: 30%;
}