/* roboto */

@font-face {
    font-family: roboto-regular;
    src: url('../../../assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../../../assets/fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('../../../assets/fonts/roboto/Roboto-Medium.ttf');
}

/* google */


@font-face {
    font-family: google-regular;
    src: url('../../../assets/fonts/google/ProductSans-Regular.ttf');
}

@font-face {
    font-family: google-light;
    src: url('../../../assets/fonts/google/ProductSans-Light.ttf');
}

@font-face {
    font-family: google-medium;
    src: url('../../../assets/fonts/google/ProductSans-Medium.ttf');
}