:root {
    --main-bg-clr: #f6f8fc;
    --txt-clr1: #6f7378;
    --txt-clr2 : #1f1f1f;
    --hover-ctg-clr: #eaebef;
    --msg-bgc-clr:#202124;
    --gmail-msg-txt-clr: #6a88b9;
    --active-nav-clr: #0b57d0;
    --gmail-compose-clr: #c2e7ff;
    --search-box-clr: #eef3fc;
    --gmail-active-ctg-clr: #d3e3fd;
    --user-clr: #ef6c00;
    --error-clr: #d93025;
    --star-clr: #f7cb4d;
    --line-border-clr: #edf0f2;
    --keeps-icon-clr: #5f636828;
    --keeps-active-ctg-clr:#feefc3;
    --keeps-msg-txt-clr: #f1b204;
    --box-shadow1: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
    --box-shadow2: 0 1px 2px 0 #3c40434d,0 2px 6px 2px #3c404326;
    --clr-plt1: #e8eaed;
    --clr-plt2: #e6c9a8;
    --clr-plt3: #fdcfe8;
    --clr-plt4: #d7aefb;
    --clr-plt5: #aecbfa;
    --clr-plt6: #cbf0f8;
    --clr-plt7: #a7ffeb;
    --clr-plt8: #ccff90;
    --clr-plt9: #fff475;
    --clr-plt10: #fbbc04;
    --clr-plt11: #f28b82;
    --clr-plt-selected: #a142f4;
}