.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.btn-svg>* {
    fill: var(--txt-clr2)
}

.btn {
    cursor: pointer;
}

.side-nav-btns {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.side-nav-btns .btn {
    gap: 25px;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 0 25px 25px 0;
    transition: background-color .15s;
}

.main-layout {
    display: flex;
    height: 100%;
}

.main-layout .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#root, .app {
    height: 100%;
}