.keep-add {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 80%;
    margin: 25px auto;
    box-shadow: var(--box-shadow2);
    border-radius: 10px;
    padding: 10px;
    transition: box-shadow .4s;
}

.keep-add .form-keep-add {
    display: flex;
    flex-direction: column;
}

.keep-add .btns {
    display: flex;
}

.keep-add .input-txt.active {
    margin-bottom: 20px;
}