.keep-add {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.keep-add .form-keep-add {
    display: flex;
    flex-direction: column;
}

.keep-add .btns {
    display: flex;
}