.keep-nav {
    display: flex;
    flex-direction: column;
    width: 240px;
}

.keep-nav .btn {
    height: 48px;
    gap: 40px;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 0 25px 25px 0;
    transition: background-color .15s;
}

.keep-nav .btn.active {
    background-color: var(--keeps-active-ctg-clr);
}

.keep-nav .btn:not(.active):hover {
    background-color: var(--keeps-icon-hover-clr);
}