.app-header {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 8px 16px;
}

.app-header .btn-hamburger {
    display: none;
}

.app-header .btn-svg {
    height: 32px;
}

.app-header .btn-svg svg {
    width: 24px;
    height: 24px;
}

.app-header .space {
    flex-grow: 1;
}

.app-header form {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 10px;
    background-color: var(--search-box-clr);
}

.app-header input {
    color: var(--txt-clr1);
}

nav a {
    margin: .5em;
}

.header-logo:not(.mail-logo) {
    width: 40px;
    height: 40px;
}

.home-logo .cls-1 {
    fill: #4b8af4;
}

.home-logo .cls-2 {
    fill: #ffce42;
}

.home-logo .cls-3 {
    fill: #df5347;
}

.apps {
    position: absolute;
    background-color: white;
    border-radius: 16px;
    z-index: 20;
    box-shadow: var(--box-shadow1);
    transform: translateX(-80%);
    padding: 16px;
}

.apps nav {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(auto-fill, 84px);
}

.apps nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apps nav img {
    width: 30px;
    height: 30px;
}

.profile-logo {
    width: 32px;
    height: 32px;
}

/* MOBILE ONLY */
@media (max-width: 650px) {

    .app-header .btn-hamburger {
        display: flex;
        position: absolute;
    }

    .app-header .logo-name,
    .app-header .space,
    .app-header .header-logo {
        display: none;
    }

    .app-header .search-bar {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        margin-left: 14%;
        width: 65%;
    }

    .app-header .search-bar form {
        width: 100%;
    }

    .app-header .search-bar form input {
        width: 100%;
    }


    body .side-nav {
        position: absolute;
        transform: translateX(-100%);
        transition: transform .2s;
        background-color: var(--main-bg-clr);
        z-index: 100;
        height: 100%;
    }

    /* body .side-nav { */
    /* transform: translateX(-100%); */
    /* width: 0; */
    /* } */
    body.side-menu-open .side-nav {
        transform: translateX(0);
        width: 100%;
    }
}


/* SMALL */
@media (min-width: 650px) {}


/* MEDIUM */
@media (min-width: 1040px) {}

/* LARGE */
@media (min-width: 1320px) {}